
form {
    
        input {
            background-color: $white;
            color: #333;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 100;
            line-height: 60px;
            height: 60px;
            width: 350px;
            border: 1px solid #dedede;
        }

        button {
            background-color: $green;
            color: $white;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 22px;
            line-height: 60px;
            height: 60px;
            width: 180px;
            border: none;
            margin-left: 1rem;
            transition: .3s ease;

        // &:hover {
        //     cursor: pointer;
        //     background-color: $dk-green;
        // }
    }
}
      
  