
.form-wpr {
    background-color: #fff;
    border-radius: 2px;
    max-width: 780px;
    margin: 4rem auto;

    .contact-form {
        max-width: 100%;
        margin: 0 auto;
        padding: 40px 30px;

        label {
            display: none;
        }

        .icon-wpr { 
            position: relative; 

            i { 
                position: absolute; 
                left: 15px; 
                top: 20px; 
                color: #404040; 

                &.fa-envelope,
                &.fa-phone {
                    top: 35px;
                }

                &.fa-comment {
                    top: 21px;
                }
            } 
        } 
            
        input[type=text], 
        input[type=email], 
        textarea {
            border: 2px solid;
            padding: 15px 0 13px 13px;
            margin: 15px 0;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif, Arial;
            font-weight: 700;
            width: 100%;
            line-height: 25px;
        }
    
        input[name="your-name"] {
            margin-top: 0;
        }

        input[name="your-name"],
        input[name="your-email"],
        input[name="your-phone"],
        textarea {
            padding-left: 40px;
        }
    
        textarea {
            height: 225px;
            margin-top: 0;
        }
    
        input[type=submit] {	
            display: block;
            border: 2px solid;
            text-align: center;
            padding: 15px 0px;
            width: 280px;
            margin: auto;
            cursor: pointer;
            vertical-align: middle;
            text-decoration: none;
            background: transparent;
            font-family: 'Montserrat', sans-serif, Arial;
            font-weight: 700;
            font-size: 20px;
            transition: color .2s linear, background-color .2s linear, border-color .2s linear;
    
            &:hover {
                color: #74BDCB;
            }
        }
    }
}


.contact-form input[type=text]::-webkit-input-placeholder, 
.contact-form input[type=email]::-webkit-input-placeholder, 
.contact-form textarea::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif, Arial;
    color: #404040;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}


      
  