.services-col {
    padding: 4rem 0;

    .service-card {
        color: #fff;
        height: 220px;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;

        a {
            color: #fff;
        }
        
        h3 {
            font-size: 3rem;
            font-weight: 700;
            font-family: "Oswald";
            text-transform: uppercase;
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .service-img-wpr {
            width: 100%;
            margin: 0;
            overflow: hidden;
            background-color: #000;
    
            img {
                opacity: .5;
                width: 100%;
                transform: scale(1.04);
                transition: transform .5s, opacity .5s;
    
                &:hover {
                    opacity: .8;
                    transform: scale(1.15);
                }
            }
        }
    }
}